<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioquimicaunc/Anunciate!</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="./js/menu.js"></script>
    <script src="./js/footer.js"></script>

</head>
<body>

    <main class="layout-grid" style="height: 100vh;">

        <section class="description-div">
            <p>
                En esta sección, profesores particulares y academias pueden promocionar sus servicios comunicandose a <a href="mailto:uncbioquimica@gmail.com" target="_blank" style="color: white;">uncbioquimica@gmail.com</a>
            </p>
            <p>
                Los estudiantes que hayan tomado clases podrán dejar comentarios y calificaciones para compartir su experiencia y ayudar a otros a elegir.
            </p>

        </section>

        <div class="subjects">
            <button class="subject-btn"
                hx-get="/listings/fragments?category=Particulares"
                hx-target="#listings-posts"
                hx-swap="innerHTML"
                onclick="setCategory('Particulares')"> Particulares </button>
            <button class="subject-btn"
                hx-get="/listings/fragments?category=Academias"
                hx-target="#listings-posts"
                hx-swap="innerHTML"
                onclick="setCategory('Academias')"> Academias </button>
            <button class="subject-btn"
                hx-get="/listings/fragments?category=Ventas"
                hx-target="#listings-posts"
                hx-swap="innerHTML"
                onclick="setCategory('Ventas')"> Ventas </button>
        </div>

        <div id="listings-posts" class="listings-section">
            <p class="signal"> Selecciona una categoría. </p>
        </div>

    </main>

    <script>
        function setCategory(cat) {
            document.getElementById('categoryInput').value = cat;
        }
    </script>
    <script> loadHeader("Anunciate!"); loadFooter();</script>
</body>
</html>
