.site-header {
  position: relative;

  display: flex;
  align-items: center;

  background-color: #333;
  color: white;
  min-height: 64px;
  padding: 0.2rem 1rem;
}

/* TRUE center — ignores logo completely */
.site-header h1 {
  font-family: 'Libre Baskerville';
  font-size: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  white-space: nowrap;
  transition: transform 0.35s ease;
}

/* Logo stays on the right */
.menu-logo {
  margin-left: auto;
}

.menu-logo img {
  width: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid white;
  transition: width 0.3s ease;
  margin: 10px;
}

.site-header.menu-open .menu-logo img {
  width: 150px;
}


.menu-panel {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.4s ease;
  margin: 10px;
}

.site-header.menu-open .menu-panel {
  max-height: 200px;
  opacity: 1;
}

.site-header.menu-open h1 {
  transform: translateX(-80%);
}

.menu-panel a {
  text-decoration: none;
  color: white;
}

.menu-panel a:hover{
  color: #f0abd6;
}

@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
  }

  .site-header h1 {
    position: static;
    transform: none;
    text-align:center;
    margin-bottom: 0.5rem;
  }
  .site-header {
    flex-direction: column;
  }

  .site-header h1 {
    position: static;
    transform: none;
    text-align: center;
    margin: 0;
  }

  .site-header.menu-open h1 {
    margin-right: 0;
    transform: none;
  }
  
  .menu-logo {
    margin-left: 0;
  }
}


.site-footer {
  background-color: #333;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 0.2rem;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: auto;
  color: rgb(255, 238, 238);
  font-family: 'Courier New', Courier, monospace;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.left {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem;

  background-color: #f8f9ff;
  background-image:
    radial-gradient(circle at 20% 30%, #e3dbf0, transparent 60%),
    radial-gradient(circle at 80% 20%, #f0abd6, transparent 55%),
    radial-gradient(circle at 70% 80%, #a1d9e5, transparent 60%),
    radial-gradient(circle at 30% 75%, #ea353e, transparent 65%);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem;
  box-sizing: border-box;

  background-color:#c8e7f5;
  background-image:
    linear-gradient(#000 1px, transparent 1px),
    linear-gradient(90deg, #000 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 -1px;
}

.right > * {
  width: 100%;
  max-width: 420px;
}

.left,
.right {
  flex: 1;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
  }

  .left,
  .right {
    width: auto;
    min-height: auto;
    padding: 2rem;
  }

  .right {
    background-position: 0 -0.2px;
  }

  .logo {
    max-width: 180px;
  }

  .socials {
    gap: 1.2rem;
  }
}

.logo {
  width: 250px;
  height: auto;
  border-radius:50%;
  border: solid 1px white;
}

.socials { display: flex; gap: 1.5rem; }

.socials img {
  width: 28px;
  height: 28px;
  opacity: 1;
  display: inline-block;
  background: #f2ede7;
  padding: 4px;
  border-radius: 5px;
  transition: opacity 0.2s;

}

.socials img:hover {
  width: 32px;
  height: 32px;
  padding: 2px;
  background: rgb(160, 230, 237);
}

.socials i {
  font-size: 1.6rem;
  color: black;
  opacity: 0.85;
  transition: opacity 0.2s, transform 0.2s;
}

.socials i:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.nav-btn {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-align: center;
  max-width: 300px;
  transition: background 0.2s, color 0.2s;
  background: #333;
}

.nav-btn:hover {
  background: #f0abd6;
  color: black;
}

.layout-grid {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem;
  box-sizing: border-box;

  background-color:#c8e7f5;
  background-image:
    linear-gradient(#000 1px, transparent 1px),
    linear-gradient(90deg, #000 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 -1px;
}

.description-div {
  text-align: center;
  color: white;
  border: 2px solid white;
  background: #444;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  box-shadow: 5px 5px 15px 5px #00677b;
  border-radius: 8px;
}

.section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  background: #555;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  max-width: 75%;
  box-shadow: 3px 2px 5px 2px #00677b;
  border-radius: 8px;
}

.forum-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

/* shared max width */
.forum-section,
#postForm {
  max-width: 95%;   /* adjust to taste */
  margin: 0 auto;
}

.post {
  width: 95%;              /* all posts same width */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
  border: 2px solid white;
  background: #555;
  gap: 1rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 3px 3px 5px 2px #00677b;
}

.forum-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  box-sizing: border-box;

  background: #444;
  border: 2px solid white;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #00677b;
}

.forum-form input,
.forum-form textarea {
  width: 95%;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

.forum-form textarea {
  resize: vertical;
}

.forum-form button {
  align-self: center;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.subjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-items: center;

  width: 100%;
  max-width: none; /* ← THIS is the key */
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.comment-form textarea {
  width: 95%;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
}

.comment-form button {
  align-self: center;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}


.hidden {
  display: none;
}


.subject-btn {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  max-width: 150px;
  background: #333;
  transition: background 0.2s, color 0.2s;
  border-radius: 25px;
  box-shadow: 3px 5px 10px 5px #00677b;
}

.subject-btn:hover {
  background: #f0abd6;
  color: #333;
}



.layout-development {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 1.5rem;
  padding: 4rem;
  box-sizing: border-box;

  background-color:#c8e7f5;
  background-image:
    linear-gradient(#555 1px, transparent 1px),
    linear-gradient(90deg, #555 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 -1px;
}

.development{
    width: 100%;
    max-width: 800px;
    min-width: 400px
}